@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --background: #fff;
    --ds-text-1: #172b4d;
    --ds-text-light: #242424;
    --ds-text-dark: #f1f1f1;
    --ds-text-select: #459bff;
    --ds-text-link: #fff;
    --ds-text-sub: #575757;
    --ds-icon: #575757;
    --ds-background-title-focus: #f2faff;
    --ds-background-title-hover: #091e420f;
    --ds-background-light-btn-submit: #0070ff;
    --ds-background-light-btn-cancel: #ec5962;
    --ds-background-hover: #459bff;
    --dynammic-nav-item-hover: #a6c5e229;
    --dynammic-nav-item-select: #ffffff3d;
    --ds-border: #dcdcdc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

//Scroll bar css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
