.ant-transfer {
    width: 578px;
    .ant-transfer-list {
        width: 280px;
        height: 510px;
        border: none;
    }
}

.ant-transfer .ant-transfer-list-header-selected {
    display: none;
}

.ant-transfer .ant-transfer-list-content-item > *:not(:last-child) {
    display: none;
}

li:has(> .member-item[disabled]) {
    background-color: black !important;
}

//Upload
.custom-upload {
    margin-bottom: 12px;
    .ant-upload-list-item-container {
        width: 160px !important;
        height: 160px !important;
    }
    .ant-upload-select {
        width: 160px !important;
        height: 160px !important;
    }
}
