.content {
    padding: 10px 20px;
}

.title-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .title {
        position: relative;
        color: var(--mys-gray-800, #3d3d3d);
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.45px;
    }
    &::before {
        content: '';
        position: absolute;
        top: 14px;
        left: 2px;
        width: 3.033px;
        height: 16.176px;
        background: #38cab3;
    }
}

.feature-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 4px 0 16px 0;

    button {
        margin: 0 4px;
        height: 36px;
    }
}

.full-name-field {
    display: flex;
    padding-left: 12px;
    align-items: center;

    span {
        margin-left: 8px;
    }
}

.group-wrap {
    width: 300px;
    height: 24px;
    overflow-x: auto;
    overflow-y: auto;
    &::-webkit-scrollbar {
        border-radius: 0;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(22, 24, 35, 0.2);
    }

    &::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0);
    }
}
