.department-manager {
    margin-top: 10px;
    margin-left: 10px;
}

.content-department {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.content-main {
    padding-left: 10px;
    height: calc(100vh - 60px - 10px);
    overflow: auto;
    margin-right: 10px;
    grid-column: span 3 / span 3;
}

.content-heading {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    h2 {
        position: relative;
        color: var(--mys-gray-800, #3d3d3d);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.45px;
    }
    &::before {
        content: '';
        position: absolute;
        top: 14px;
        left: 2px;
        width: 3.033px;
        height: 16.176px;
        background: #38cab3;
    }
}

.list-column-wrapper {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100vh - 60px - 10px - 70px);
    padding-bottom: 24px;
}

//List Member Dept

.member-list-dept {
    height: calc(100vh - 60px - 10px);
    overflow: auto;
    grid-column: span 1 / span 1;
}

.member-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #fcfdff;
    padding: 10px;
    height: 100%;
}

.member-list-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;

    .member-list-title {
        width: 250px;
        font-style: normal;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 24px;
        color: #242424;
    }

    .member-list-search {
        padding: 16px 0;
    }
}

.member-item {
    padding-left: 8px;
    display: flex;
    width: 252px;
    height: 68px;
}

.member-item-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-item-body {
    display: flex;
    padding-left: 12px;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: #1d1d1d;
    max-width: 170px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
