.department-level {
    min-width: 250px;
    height: fit-content;
    border-radius: 10px;
    background-color: hsla(0, 0%, 100%, 0.4);
    padding-top: 10px;
    flex: 1 1 0%;
}

.column-title {
    color: #3d3d3d;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 12px;
    text-align: center;
}

.list-column {
    border-right: 1px solid #e3e3e3;
    padding-right: 12px;
    width: 100%;
    height: 525px;
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.list-department {
    margin-bottom: 0.625rem;
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    padding: 0 10px 10px;
}

.slide-in {
}

.card-department {
    display: flex;
    padding: 8px;
    height: 120px;
    align-items: center;
    margin-bottom: 12px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #e3e3e3;
    transition: all 0.3s ease, border 0.3s ease;

    &:last-child {
        margin-bottom: unset;
    }
}

.card-department-img {
    display: flex;
    width: 100px;

    img {
        width: 100px;
        height: 100px;
        margin: auto;
    }
}
.content-wrap {
    position: relative;
    height: 70%;
    margin-left: 10px;
    flex: 1;

    h3 {
        color: #1d1d1d;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 18px;
    }
}

.desc {
    font-size: 1.4rem;
    margin-top: -16px;
    color: #575757;
    font-weight: 300;
    padding-bottom: 4px;
}

.btn-add-dept {
    display: flex;
    width: 100%;
    justify-content: center;

    button {
        width: calc(100% - 20px);
    }
}

.three-dot {
    position: absolute;
    opacity: 0.7;
    right: 4px;
    bottom: 54px;
}

.detail-btn {
    margin: 4px 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: white;
    cursor: pointer;
    // &:hover {
    //     background-color: #f5f5f5;
    // }
}
